@charset "UTF-8";
body {
   margin: 0; 
   padding: 0; 
   font-family: "Gowun Dodum", sans-serif;
   font-weight: 900;
   font-style: normal;
   background: #fff; 
   background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 80%, rgba(0,0,0,0.15) 100%); 
   overflow: hidden; 
   transform-style: preserve-3d; 

}
input[type='radio'],
.hide {
  display: none;
}
input[type='radio']:checked + section {
  top: 0;
}
.container {
  width: 100%;
  height: 100vh;
  transition: all 500ms;
  transform-style: preserve-3d;
  overflow:hidden;
 
}

.container section {
  position: absolute;
  top: 100vh;
  width: 100%;
  height: 100vh;
  transition: top 500ms;
  transform-style: preserve-3d;
}


.container section.home {
  background: #bdb76b;
}
.container section.about {
  background: #e1daca;
}
.container section.work {
  background: #c1b6a4;
}
.container section.contact {
  background: #b29079;
}
/* 메뉴 눌렀을때 배경색 바꾸기 */
body {
background:#f8f1e5;
}

/* .container h1,h2,h3,h4 { */
/*   margin: 30; */
/*   font-size: 30px; */
/*   transform: translate(0); */
/*   text-align: center; */
/*   color: rgba(255,255,255,0.85); */
/*   transition: transform 500ms; */
/*   transform-style: preserve-3d; */
/* } */


/* 글씨색 정하기 */
.my01 {
  margin: 30;
  font-size: 30px;
  transform: translate(35ch,15mm);
  text-align: center;
  color:#634522;
  transition: transform 500ms;
  transform-style: preserve-3d;
  transform: translate(40ch,10mm);
}
.my02 {
  margin: 30;
  font-size: 30px;
  transform: translate(52ch,2mm);
  text-align: center;
  color:#634522;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.my03 {
  margin: 30;
  font-size: 30px;
  transform: translate(50ch,2mm);
  text-align: center;
  color:#634522;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
.my04 {
  margin: 30;
  font-size: 30px;
  transform: translate(45ch,10mm);
  text-align: center;
  color:#634522;
  transition: transform 500ms;
  transform-style: preserve-3d;
}
h1,h2,a{
	text-align:center;
	color:#634522;
}
.container section p{
	text-align:center;
	color: rgba(255,255,255,0.85);
}
.image{
width:1000px;
height:auto;
transform: translate(50ch,25mm);
}
.image02{
width:1200px;
height:auto;
transform: translate(65ch,10mm);
}
.image03{
width:500px;
height:auto;
transform: translate(83ch,30mm);
}
.image04{
width:800px;
height:auto;
transform: translate(65ch,30mm);
}
.image05{
width:400px;
height:auto;
transform: translate(87ch,-35mm);
}

.container section label {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.menu {
  display: block;
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 1000;
  transform: 0deg;
  transition: all 200ms;
  width: 35px;
  height: 4px;
  background: rgba(0,0,0,0.25);
}

/* 메뉴에 숨어있는거 같은데 뒷배경 이녀석들아 */
.menu::before,
.menu::after {
   content: ''; 
   display: block; 
   position: absolute; 
   width: 35px; 
   height: 4px; 
   background: rgba(0,0,0,0.25); 
   transition: all 200ms; 
}
.menu::before {
  top: 10px;
}
.menu::after {
  top: 20px;
}
.menu:hover {
  background: #fff;
}
.menu:hover::before,
.menu:hover::after {
  background: #fff;
}
 .menu div, 
.menu div label:nth-child(1) {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -6px;
}
.menu div label:nth-child(2) {
  display: none;
}
#menu:checked + .container {
  transform: scale(0.65) translateY(-18%);
  transition: all 500ms;
  transform-style: preserve-3d;
}

#menu:checked + .container section {
  cursor: pointer;
  overflow: hidden;
  opacity: 1;
  box-shadow: 0 0 40px rgba(0,0,0,0.25);
  transform-style: preserve-3d;
}
#menu:checked + .container section h1 {
  transform: scale(0.5);
  transform-style: preserve-3d;
}
#menu:checked + .container + .menu {
  top: 30px;
  left: 20px;
  transform: rotate(225deg);
  transition: all 200ms;
  transform-origin: center center;
  background: #646464;
}
#menu:checked + .container + .menu::before,
#menu:checked + .container + .menu::after {
  background: #646464;
  transition: all 200ms;
}
#menu:checked + .container + .menu::before {
  opacity: 0;
  transition: opacity 0s;
}
#menu:checked + .container + .menu::after {
  margin-top: -20px;
  transform: rotate(90deg);
}
#menu:checked + .container + .menu div label:nth-child(2) {
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: -6px;
}
#menu:checked + .container + .menu div label:nth-child(1) {
  display: none;
}
.container section.home {
  z-index: 99;
}
.container section.about {
  z-index: 98;
}
.container section.work {
  z-index: 97;
}
.container section.contact {
  z-index: 96;
}
#menu:checked + .container section.home {
  top: 192px;
}
#menu:checked + .container section.home:hover {
  top: 188px;
}
#menu:checked + .container section.about {
  top: 132px;
}
#menu:checked + .container section.about:hover {
  top: 128px;
}
#menu:checked + .container section.work {
  top: 72px;
}
#menu:checked + .container section.work:hover {
  top: 68px;
}
#menu:checked + .container section.contact {
  top: 12px;
}
#menu:checked + .container section.contact:hover {
  top: 8px;
}

/* 열쇠만들기 css */
/* :::::::::::::: Presentation css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --locked-color: #5f5f5f;
  --unlocked-color: #808080;
}
.container01 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
}
/* :::::::::::::: Required CSS */
/* Locked */
.lock {
  width: 200px;
  height: 200px;
  border: 20px solid var(--locked-color);
  border-radius: 80px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 30px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 30px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 10px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
/* Locked Hover */
.lock:hover:before {
  height: 70px;
}
/* Unlocked */
.unlocked {
  transform: rotate(10deg);
}
.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}
.unlocked:after {
  background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 40px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}

.lock01{
	width:200px;
	background-color:#684d2d;
	color: rgba(255,255,255,0.85);
}